.wrapper {
  border-radius: 0.25rem;
  padding: 1rem 4rem 0rem 4rem;
  background: rgb(115, 152, 194);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 10px auto;
}

.editor {
  position: relative;
  .size-divider {
    position: relative;
    top: 10px;
    opacity: 0.5;
  }
}

.editor-title {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(194, 194, 194);
  margin-top: 0px;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.options {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.circle-picker {
  margin-bottom: 1.5rem !important;
}

.background-modal {
  position: absolute;
  z-index: 3;
  left: 80px;
  top: 180px;
}

.background-color {
  background: rgb(91, 90, 116);
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: rgb(49, 48, 73);
  }

  span {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    display: inline-block;
  }
}

@media screen and (max-width: 645px) {
  .wrapper {
    margin: 10px;
  }
}
