.image-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  display: flex;
  max-width: 400px;
  img {
    border: 5px solid black;
    object-fit: contain;
    width: 100%;
  }
}

.like {
  font-size: 18px;
  margin-top: 5px;

  img {
    width: 60px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(80, 80, 80, 0.63);
  margin: 10px;
  padding: 10px;
  .author,
  .date {
    margin: 5px;
  }
  .date {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .image-wrapper {
    margin-right: 10px;
  }
}
