.header {
  font-size: 24px;
  background: rgb(115, 152, 194);
  flex-direction: row;
  justify-content: center;
  padding: 10px;

  &__title {
    text-align: center;
    margin: 10px;
  }

  &__logo {
    img {
      object-fit: contain;
      height: 40px;
      width: 40px;
    }
  }
}
