.card {
  border-radius: 0.25rem;
  padding: 0.5rem;
  background: rgb(115, 152, 194);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  max-width: 1200px;
  margin: 10px auto;
  position: relative;
}

@media screen and (max-width: 1240px) {
  .card {
    margin: 10px;
  }
}
